{% extends "root.html" %}
{% load crispy_forms_tags %}
{% block title %}Лавочки map{% endblock %}

{% block content %}
    {% include 'el/header.html' %}

    <div class="container" id="content" style="min-height: 83.6vh;">
        
        <h1>Сброс пароля</h1>
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="submit-btn" value="Сбросить пароль">
        </form>

    </div>

    {% include 'el/footer.html' %}
{% endblock %}