{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    {% include 'el/header.html' %}


    <div class="container" id="content" style="min-height: 83.6vh;">

        {% if validlink %}
        <p>Пожалуйста введите новый пароль.</p>
        <form action="" method="post">
            {% csrf_token %}
            <div>
                <div>
                    {{ form.new_password1.errors }}
                    <label for="id_new_password1">Новый пароль:</label><br>
                    {{ form.new_password1 }}
                </div>
                <div>
                    {{ form.new_password2.errors }}
                    <label for="id_new_password2">Подтверждение пароля:</label><br>
                    {{ form.new_password2 }}
                </div>
                <input type="submit" class="submit-btn" value="Поменять пароль">
            </div>
        </form>
        
        {% else %}
            <h1>Сбой сброса пароля</h1>
            <p>Cсылка для сброса пароля была недействительной, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
        {% endif %}

    </div>

    {% include 'el/footer.html' %}
{% endblock %}