{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    <div class="container text-center" id="content" style="min-height: 83.6vh;">
        <div style="margin-top: 8vw;">
            <p class="error-code">400</p>
            <p class="error-head">Неверный запрос</p>
            <p class="error-disc">Сервер не может обработать запрос с неверным синтаксисом из-за ошибки клиента.</p>
            <a href="/" class="error-a">На главную</a>
        </div>
    </div>
{% endblock %}