{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    <div class="container text-center" id="content" style="min-height: 83.6vh;">
        <div style="margin-top: 8vw;">
            <p class="error-code">403</p>
            <p class="error-head">Запрещено</p>
            <p class="error-disc">Вам не разрешен доступ к этой странице в соответствии с настройками сервера. Вы также можете проверить адрес, который вы только что пытались открыть.</p>
            <a href="/" class="error-a">На главную</a>
        </div>
    </div>
{% endblock %}