{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    <div class="container text-center" id="content" style="min-height: 83.6vh;">
        <div style="margin-top: 8vw;">
            <p class="error-code">404</p>
            <p class="error-head">Страница не найдена</p>
            <p class="error-disc">Запрашиваемая страница не существует на сервере или перемещена в другое место. Вы также можете проверить адрес, который вы только что пытались открыть.</p>
            <a href="/" class="error-a">На главную</a>
        </div>
    </div>
{% endblock %}