{% extends "root.html" %}

{% block title %}Лавочки map{% endblock %}

{% block content %}
    <div class="container text-center" id="content" style="min-height: 83.6vh;">
        <div style="margin-top: 8vw;">
            <p class="error-code">500</p>
            <p class="error-head">Внутренняя ошибка сервера</p>
            <p class="error-disc">Во время обработки вашего запроса произошла непредвиденная ошибка или это неправильная конфигурация сервера. Попробуйте получить эту страницу позже.</p>
            <a href="/" class="error-a">На главную</a>
        </div>
    </div>
{% endblock %}